<footer class="footer">
    <div class="footer__container">
        <img [src] ="ImagePath" style="width: 100px;height: 100px;">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare malesuada molestie. Pellentesque erat magna, sodales eget maximus eget, fermentum nec dui. Morbi egestas tellus eget quam eleifend, sed ullamcorper lectus malesuada. Phasellus congue purus ac rutrum scelerisque.
            </p>
        </section>
        <address>
        <h2 class="footer__title">Contato</h2>    
        <ul>
            <li><i class="fa-solid fa-envelope"></i> email@email.com.br</li>
            <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
            <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
        </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Curso de Angular da ProWay - Programa Start by Capgemini
    </section>
</footer>
